@media screen and (max-width:576px) {
    .nav-btn {
        display: none;
    }

    #nav-right {
        border: none;

    }

    .banner {
        flex-direction: column;
        align-items: center;
    }

    #banner-title {
        font-size: 60px;
    }

    #banner-design {
        font-size: 8rem;
    }

    .banner {
        width: 90vw;
    }

    .banner-left {
        width: 90%;
        margin: 0 auto;
    }

    #nav-main img {
        display: block;
    }

    /* change your habit */
    .habit-element {
        flex-direction: column;
    }

    /* footer  */
    .footer-content {
        flex-direction: column;
    }

    .footer-section1 {
        width: 100%;
    }

    .footer-section2 {
        padding-top: 30px;
    }

    .footer-section3 {
        padding-top: 30px;
    }

    /* run an extra mile */
    .run {
        flex-direction: column;
        align-items: center;
    }

    .run-content>button {
        padding-left: 5.5rem;
        padding-right: 5.5rem;
        margin-bottom: 0;
        align-self: center;
    }

    .run-img>img {
        transform: scale(1);
        object-fit: cover;
        object-position: center;
    }
}