@media screen and (max-width:576px) {
    .nav-btn {
        display: none;
    }

    #nav-right {
        border: none;

    }

    .banner {
        flex-direction: column;
        align-items: center;
    }

    #banner-title {
        font-size: 60px;
    }

    #banner-design {
        font-size: 8rem;
    }

    .banner {
        width: 90vw;
    }

    .banner-left {
        width: 90%;
        margin: 0 auto;
    }

    #nav-main img {
        display: block;
    }

    /* change your habit */
    .habit-element {
        flex-direction: column;
    }

    /* footer  */
    .footer-content {
        flex-direction: column;
    }

    .footer-section1 {
        width: 100%;
    }

    .footer-section2 {
        padding-top: 30px;
    }

    .footer-section3 {
        padding-top: 30px;
    }

    /* run an extra mile */
    .run {
        flex-direction: column;
        align-items: center;
    }

    .run-content>button {
        padding-left: 5.5rem;
        padding-right: 5.5rem;
        margin-bottom: 0;
        align-self: center;
    }

    .run-img>img {
        transform: scale(1);
        object-fit: cover;
        object-position: center;
    }

    /* bmi chart */
    .bmi-chart {
        flex-direction: column;
    }

    .bmi-heading {
        padding-left: 0px;
        width: 80%;
    }

    /* team  */
    .trainer1,
    .trainer2 {
        grid-template-columns: 1fr;
    }

    .person1,
    .person2,
    .person3,
    .person4,
    .person5,
    .person6 {
        margin-left: 10%;
        margin-right: 0;
        width: 80%;
    }

    /* my part  */
    .pricing .box-container {
        grid-template-columns: 1fr;
    }

}