:root {
    --red: #E6533C;
    --spwhite: rgba(255, 255, 255, 0.673);
}

* {
    margin: 0px;

    font-family: Inter;
}

.nav-background {
    background-image: linear-gradient(black, rgb(23, 23, 23), black);
}

#nav-main {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80vw;
    margin: 0 auto;
}

#nav-right {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.353);
    border-radius: 25px;
    min-width: 30vw;
    justify-content: space-between;
}

#nav-main img {
    display: none;
}

#nav-left {
    display: flex;
}

#logo {
    font-size: 36px;
    font-weight: bolder;
    color: var(--red);
    font-style: italic;
}

.nav-btn {
    border: none;
    background: transparent;
    border-radius: 25px;
    font-size: 18px;
    margin: 1px;
    color: white;
    width: 25%;
}

#home-btn {
    background-color: var(--red);
    color: white;
}


.banner-left {
    width: 50%;
}

#banner-title {
    font-size: 78px;
    font-weight: bolder;
}

.banner-left p {
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}

#banner-design {
    font-family: Miama;
    font-weight: 500;
    display: inline-block;
    position: relative;
    font-size: 9rem;
    z-index: 1;
}

#btn-join,
#btn-download {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

#btn-join {
    background-color: #E6533C;
    color: white;
    border: none;
}

#btn-download {
    background-color: black;
    border: 2px solid white;
    color: white;
}


.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.banner-right {
    position: relative;
}

.btn-overlay {
    position: absolute;
    top: 25%;
    right: 0%;
    background-color: rgba(59, 59, 59, 0.312);
    border: none;
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 12px;
}

.btn-overlay-300 {
    position: absolute;
    bottom: 5%;
    display: flex;
    background-color: rgba(59, 59, 59, 0.312);
    border: none;
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 12px;
    align-items: center;
}

#overlay500 {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

#overlay-txt-500 {
    font-size: 13px;
    color: white;
}

#overlaydot {
    width: 20px;
    height: 20px;
    background-color: var(--red);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

#overlay350 {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

#overlay-txt-350 {
    font-size: 13px;
    color: white;
}


/* footer */
footer {
    background-color: black;
    padding-top: 20px;
}

.footer-content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-section1 {
    width: 40%;
}

.footer-section2 {
    padding-top: 30px;
}

.footer-section3 {
    padding-top: 30px;
}

.footer-section1>h1 {
    font-size: 70px;
    font-style: italic;
    color: var(--red);
    font-weight: bolder;
}

.footer-section1 {
    padding-bottom: 20px;
}

.footer-section1>p {
    font-size: 14px;
    color: var(--spwhite);
}

.footer-section2>h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.footer-section2>li {
    font-size: 23px;
    list-style: none;
    color: var(--spwhite);
    line-height: 50px;
}

.footer-section3>h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.footer-section3>li {
    font-size: 23px;
    list-style: none;
    color: var(--spwhite);
    line-height: 50px;
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.145);
    margin: 20px 0;
    backdrop-filter: blur(1px);
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.credit>p {
    font-size: 20px;
    color: var(--spwhite);
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

/* change your habit */
.habit-background {
    background-color: black;
    padding-top: 50px;
}

.habit-content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.habit-content>h1 {
    color: white;
    font-size: 48px;
    text-align: center;
    padding-bottom: 10px;
}

.habit-content>p {
    color: var(--spwhite);
    text-align: center;
    padding-bottom: 3rem;
    font-size: 14px;
}


.habit>img {
    border-radius: 50%;
    padding-bottom: .5rem;
}

.habit>h3 {
    color: white;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: .8rem;
}

.habit>p {
    color: var(--spwhite);
    font-size: 14px;
}

.habit-element {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.habit {
    text-align: center;
}

/* run an extra mile */
.run-background {
    background-color: black;
}

.run {
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    border-radius: 1rem;
}

.run-content>h1 {
    font-size: 48px;
    color: white;
    padding-bottom: 2rem;
}

.run-img>img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    transform: scale(1);
    object-fit: none;
    object-position: 68% 30%
}

.run-content>p {
    font-size: 14px;
    color: var(--spwhite);
    padding-bottom: 1rem;
}

.run-content {
    padding: 3rem;
}

.run-img {
    padding: 3rem;
    overflow: hidden;
}

.run-content>button {
    border: none;
    background: transparent;
    background-color: var(--red);
    border-radius: 42px;
    padding: 1rem 2rem;
    font-size: 18px;
    color: white;
}

/* bmi */
.bmi-background {
    background-color: black;
}

.bmi-heading {
    margin: 0 auto;
    padding-left: 35rem;
    padding-top: 2rem;
}

.bmi-heading>h1 {
    font-size: 48px;
    color: white;
    font-weight: bolder;
}

.bmi-heading>p {
    font-size: 14px;
    color: var(--spwhite);
}


.bmi-info-background {
    background-color: #222222;
    padding: 2rem 0;
}

/* BMI Chart Section */
.bmi-chart {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    color: white;
}

.section1,
.section2 {
    flex: 1;
    padding: 2rem;
}

.table {
    border-collapse: collapse;
    width: 100%;
}


.table th,
.table td {
    border: 1px solid var(--spwhite);
    padding: 1rem;
    text-align: left;
}

.table th {
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #444;
}

.table td {
    font-size: 14px;
}

.bmi {
    font-size: 28px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

.section2 h2 {
    font-size: 28px;
    margin-bottom: 1rem;
}

.section2 p font {
    font-size: 16px;
    margin-bottom: 1rem;
}

.section2 table {
    width: 100%;
    table-layout: fixed;
}

.section2 input[type="text"] {
    width: calc(100% - 1rem);
    max-width: 100%;
    padding: 0.5rem;
    margin: 0.2rem 0;
    border: 1px solid #ffffff30;
    border-radius: 5px;
    background-color: #333;
    color: var(--spwhite);
}

.section2 input[type="text"]::placeholder {
    color: var(--spwhite);
}

.section2 select {
    background-color: #333;
    font-size: 16px;
    width: 100%;
    padding: 0.4rem;
    margin: 0.2rem 0;
    border-radius: 5px;
    border: 1px solid #555;
    color: var(--spwhite);
}

.section2 button {
    margin-top: 2rem;
    border: none;
    background: transparent;
    background-color: var(--red);
    border-radius: 42px;
    padding: 1rem 2rem;
    font-size: 18px;
    color: white;
}

.section2>p {
    margin-bottom: 2rem;
}

.bmi-heading>p {
    padding-bottom: 2rem;
}

/* our  team */
.team-background {
    background-color: black;
}

.team-head>h1 {
    font-size: 48px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 3rem;
}

.team-head>p {
    font-size: 14px;
    color: var(--spwhite);
    text-align: center;
    padding-bottom: 2rem;
}

/* trainer */
.trainer1,
.trainer2 {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.5rem 0;
    gap: 1rem;
    border-radius: 1rem;
}

.trainer1 img,
.trainer2 img {
    width: 100%;
    height: 24rem;
    border-radius: 1rem;
    filter: brightness(75%);
    object-fit: cover;
}

.person1,
.person2,
.person3,
.person4,
.person5,
.person6 {
    position: relative;
    margin-left: 1.5rem;
    color: white;
}

.posi {
    position: absolute;
    bottom: 0;
}

.person3 {
    max-width: 84%;
    height: 22rem;
}

.darrel-position {
    position: absolute;
    bottom: 0%;
    left: 15%;
}

.jim-pos,
.cam-pos {
    position: absolute;
    bottom: 15%;
    left: 15%;
}

.person6 {
    margin-right: 2rem;
}


.relate {
    position: absolute;
    left: 15%;
    bottom: 14%;
}

.team-size {
    width: 80%;
    margin: 0 auto;
}

.trainer-back {
    background-color: #222222;
    border-radius: 1rem;
}

/* my part carousel */